<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout1}">
<head>
<meta name="_csrf" th:content="${_csrf.token}" />
<meta name="_csrf_header" th:content="${_csrf.headerName}" />
</head>

<th:block layout:fragment="css">
	<style>
.ellipsis {
	width: 300px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis; /* 말줄임 적용 */
}

.clickable-row {
	cursor: pointer;
}
</style>
</th:block>

<div layout:fragment="content" class="content">
	<div class="site-section">
		<div class="container ">
			<div class="row">
				<section class="container">
					<div class="item-location item-additional-info">
						<div
							class="item-location-header justify-content-start align-items-center mb-3">
							<div class="item-location-content tab-content">

								<div class="tab-pane fade show active" id="locs-1"
									role="tabpanel" aria-labelledby="locs-1-tab">
									<div class="table-container table-locations">
										<table class="table table-sm table-hover text-center">
											<thead>
												<tr>
													<th scope="col">No.</th>
													<th scope="col">닉네임</th>
													<th scope="col">이메일</th>
													<th scope="col">문의제목</th>
													<th scope="col">등록날짜</th>
													<th scope="col">답변여부</th>
													<th scope="col">수정</th>
													<th scope="col">삭제</th>
												</tr>
											</thead>
											<th:block th:each="post : ${posts}">
												<tbody>
													<tr class="clickable-row">
														<td th:text="${post.id}"></td>
														<td th:text="${post.nickname}"></td>
														<td th:text="${post.email}"></td>
														<td class="str_yes" th:text="${post.title}"><a> </a></td>
														<td class="str_no" th:text="${post.regTime}"></td>

														<th:block th:if="${post.hasAnswer}">
															<td class="str_no">답변완료</td>
														</th:block>
														<th:block th:unless="${post.hasAnswer}">
															<td class="str_no">답변대기</td>
														</th:block>

														<td><button type="button" class="update_bt">수정하기</button></td>
														<td></td>
													</tr>
													<tr class="hidden-content">
														<td th:text="${post.content}"></td>
														<td>

															<div class="mb-3">

																<label for="content" class="form-label">답글</label>
																<textarea class="form-control" rows="3" id="content"></textarea>

																<button type="submit" class="btn btn-primary"
																	onclick="inqOk('reg')">확인</button>
															</div>

														</td>
													</tr>



												</tbody>

											</th:block>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>




				</section>


			</div>

		</div>
	</div>







</div>



<th:block layout:fragment="script">
	<script th:inline="javascript">
		$(document).ready(
				function() {
					$("#searchBtn").on("click", function(e) {
						e.preventDefault(); //submit되는걸 방지
						page(0);
					});

					//페이징버튼 눌렀을때 검색어와 selectbox를 get방식으로 주소이동시켜준다
					function page(page) {
						var searchBy = $("#searchBy").val();
						var searchQuery = $("#searchQuery").val();

						//주소 이동
						location.href = "/post/qaList/" + page
								+ "?searchBy=" + searchBy + "&searchQuery="
								+ searchQuery;
					}
					
					var errorMessage = [[${errorMessage}]];
			    	if(errorMessage != null){
			        	alert(errorMessage);
			    	}
			    	
					bindDomEvent(); //이벤트를 등록
				});
		
		function inqOk(choice) {
		    var token = $("meta[name='_csrf']").attr("content");
		    var header = $("meta[name='_csrf_header']").attr("content");
		    
		    var Id;
		    var content;
		    var url;
		    var paramData;
		    var text;
		    
		    var id = $("#id").val();
		    var content = $("#content").val();
		    
		    // 등록
		    if (choice == 'reg') { 
		        Id = $("#id").val();
		        content = $("#content").val();
		        url = "/post/reg"; // 여기서 따옴표를 닫음
		        paramData = { id: Id, content: content };
		        text = '답변 등록 하시겠습니까?';
		        if (content.trim() === '') {
		            alert("답변 내용을 입력해주세요");
		            return; // 함수 종료
		        }
		    }
		    
		    if (confirm(text)) {
		        var param = JSON.stringify(paramData);
		        $.ajax({
		            url: url, // request URL
		            type: "POST", // 전송방식
		            contentType: "application/json",
		            data: param, // 서버에 전송할 데이터
		            beforeSend: function(xhr) {
		                // 데이터를 전송하기전에 헤더에 csrf 값을 설정
		                xhr.setRequestHeader(header, token);
		            },
		            dataType: "text",
		            cache: false,
		            success: function(result, status, jqXHR) {
		                alert(jqXHR.responseText);
		                window.location.reload(true); 
		            },
		            error: function(jqXHR, status, error) {
		                if (jqXHR.status == '401') {
		                    alert('관리자로그인 후 이용해주세요.');
		                    // location.href = '/';
		                } else {
		                    // 에러메세지 출력(ResponseEntity에서 받아온 값을 출력해준다)
		                    alert(jqXHR.responseText);
		                }
		            }
		        });
		    }
		}
		

		
		function beforeSubmit() {
			var id = $("#this").val();
			alert(id);
			const f = document.post;
			
			f.submit();
		}

		$(function() {
			$('.hidden-content').hide();
			$('.clickable-row').show();

			$('.clickable-row').click(function() {
				var tr = $(this).closest('tr');
				var hiddenContent = tr.next('.hidden-content');

				if (hiddenContent.is(':hidden')) {

					$('.hidden-content').hide();
					$('.clickable-row').show();
					hiddenContent.show();

				} else {
					hiddenContent.hide();
				}
			})
		})
	</script>
</th:block>

</html>
