<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout1}">




<th:block layout:fragment="css">
	<style>
.ellipsis {
	width: 300px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis; /* 말줄임 적용 */
}
</style>
</th:block>

<div layout:fragment="content" class="content">
	<div class="site-section">
		<div class="container ">
			<div class="row">
				<section class="container">
					<div class="item-location item-additional-info">
						<div
							class="item-location-header justify-content-start align-items-center mb-3">
							<div class="item-location-content tab-content">


								<div class="tab-pane fade show active" id="locs-1"
									role="tabpanel" aria-labelledby="locs-1-tab">
									<div class="table-container table-locations">
										<table class="table table-sm table-hover text-center">
											<thead>
												<tr>
													<th scope="col">No.</th>
													<th scope="col">닉네임</th>
													<th scope="col">이메일</th>
													<th scope="col">문의제목</th>
													<th scope="col">문의내용</th>
													<th scope="col">등록날짜</th>
													<th scope="col">답변여부</th>
													<th scope="col">수정</th>
													<th scope="col">삭제</th>
												</tr>
											</thead>
											<th:block th:each="post : ${posts}">
												<tbody>
													<tr class="clcikable-row">
														<td th:text="${post.id}"></td>
														<td th:text="${post.nickname}"></td>
														<td th:text="${post.email}"></td>
														<td class="str_yes" th:text="${post.title}"><a> </a></td>
														<td class="str_yes" th:text="${post.content}"></td>
														<td class="str_no" th:text="${post.regTime}"></td>

														<th:block th:if="${post.hasAnswer}">
															<td class="str_no">답변완료</td>
														</th:block>
														<th:block th:unless="${post.hasAnswer}">
															<td class="str_no">답변대기</td>
														</th:block>

														<td><button type="button" class="update_bt">수정하기</button></td>
														<td>
															<form id="delete_form">
																<button type="button" class="update_bt">삭제하기</button>
																<input type="hidden" th:name="${_csrf.parameterName}"
																	th:value="${_csrf.token}">
															</form>
														</td>
													</tr>
													<tr class="hidden-content" style="display: none;">
														<td colspan="9">
															<!-- 여기에 테이블 내용을 추가 --> <!-- 예시: -->
															<p>내용을 접었다가 펼칩니다.</p>
														</td>
													</tr>


												</tbody>
											</th:block>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>




				</section>
				<form action="#" class="filter-search"
					th:object="${recipeSearchDto}">
					<div class="title_right">
						<div
							class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
							<div class="input-group">
								<select th:field="*{searchBy}" class="form-control">
									<option value="nickname">이름</option>
									<option value="email">이메일</option>
								</select> <input type="text" class="form-control"
									th:field="*{searchQuery}" placeholder="Search member">
								<span class="input-group-btn">
									<button id="searchBtn" class="btn btn-secondary" type="submit">Go!</button>
								</span>
							</div>
						</div>
					</div>
				</form>


			</div>

		</div>
	</div>




	<!-- 페이징버튼 -->
	<!-- start = (현재 페이지 번호/보여줄 페이지수) + 1, 페이지 시작번호 -->
	<!-- end = start + (보여줄 페이지수 - 1), 페이지 끝번호 -->
	<!-- 끝번호가 전체페이지보다 작으면 ◀ 1 2 3 4 5 ▶ -->
	<nav
		th:with="start=${(posts.number/maxPage)*maxPage + 1}
			,end=(${(posts.totalPages == 0) ? 1 : (start + (maxPage - 1) < posts.totalPages ? start + (maxPage - 1) : posts.totalPages)})"
		aria-label="Page navigation example">
		<ul class="pagination d-flex justify-content-center">
			<li class="page-item" th:classappend="${posts.first}?'disabled'">
				<a class="page-link"
				th:onclick="'javascript:page(' + ${posts.number - 1} +')'">이전</a>
			</li>
			<li class="page-item"
				th:each="page: ${#numbers.sequence(start, end)}"
				th:classappend="${posts.number eq page-1}?'active':''"><a
				class="page-link" th:inline="text"
				th:onclick="'javascript:page(' + ${page - 1} +')'">[[${page}]]</a></li>
			<li class="page-item" th:classappend="${posts.last}?'disabled'">
				<a class="page-link"
				th:onclick="'javascript:page(' + ${posts.number + 1} +')'">다음</a>
			</li>
		</ul>
	</nav>


</div>



<th:block layout:fragment="script">
	<script th:inline="javascript">
		$(document).ready(
				function() {
					$("#searchBtn").on("click", function(e) {
						e.preventDefault(); //submit되는걸 방지
						page(0);
					});

					//페이징버튼 눌렀을때 검색어와 selectbox를 get방식으로 주소이동시켜준다
					function page(page) {
						var searchBy = $("#searchBy").val();
						var searchQuery = $("#searchQuery").val();

						//주소 이동
						location.href = "/admin/recipeMng/" + page
								+ "?searchBy=" + searchBy + "&searchQuery="
								+ searchQuery;
					}
				});

		document.addEventListener("DOMContentLoaded", function() {
			// 버튼 요소와 내용 요소 가져오기
			var rows = document.querySelectorAll(".clickable-row");

			rows.forEach(function(row) {
				row.addEventListener("click", function() {
					var hiddenContent = this.nextElementSibling;

					if (hiddenContent.style.display === "none"
							|| hiddenContent.style.display === "") {
						hiddenContent.style.display = "table-row";
					} else {
						hiddenContent.style.display = "none";
					}
				});
			});
		});
	</script>
</th:block>

</html>
