@charset "UTF-8";

.thmb_list02 .search_sort {
    display: block;
    width: 100%;
    padding: 0 0;
    position: relative;
}

.thmb_list02 .search_sort {
    display: block;
    width: 100%;
    padding: 0 0;
    position: relative;
}

.thmb_list02 .search_sort p {
    color: #000;
}

.thmb_list02 .search_sort .sort_util {
    position: absolute;
    right: 0;
    top: 0px;
}

.thmb_list02 .search_sort .sort_util li {
    float: left;
    padding: 0 10px 0 20px;
    position: relative;
}

.thmb_list02 .search_sort .sort_util li a {
    font-size: 16px;
    color: #666;
    line-height: 1;
}

.thmb_list02 .list_area {
	margin-top:10px;
	margin-bottom:10px;
	border-top:1px solid #dedede;
	border-bottom:1px solid #dedede;
    width: 100%;
    display: table;
}

.thmb_list02 .item {
    float: left;
    width: 270px;
    min-height: 300px;
    margin-right: 20px;
    vertical-align: top;
    padding: 15px 0 30px;
}

.thmb_list02 .thmb {
    position: relative;
    width: 100%;
    height: 215px;
}

.thmb_list02 .img {
		position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.thmb_list02 .img img {
    width: 270px;
    height: 215px;
}


.thmb_list02 .info .info_tag {
	padding:2px 0;
	text-align:center;
    min-height: 25px;
}

.thmb_list02 .info .info_tag span {
    font-size: 14px;
    color: #666;
    margin-right: 8px;
}

.ellip {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.thmb_list02 .info .info_title p {
	text-align:center;
    font-size: 18px;
    color: #333;
    font-weight: bold;
}

.thmb_list02 .item:nth-child(4n) {
    margin-right: 0;
}

.challange {
	display: flex;
	justify-content: center;
}

.challange p {
	font-size: 12px  !important;
    color: #666 !important;
}

.challange p:nth-child(1) {
	margin-right: 10px;
}



.back {
	display:flex;
	justify-content:center;
	width:100%;   
	position: absolute;
	top: 88%;
	background: rgb(0, 0, 0 , 0.5);
}

.back p {
	color:white !important;
	font-size: 12px  !important;
}

.back p:nth-child(1) {
	margin-right: 10px;
}


