<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout1}">
<head>
<meta name="_csrf" th:content="${_csrf.token}" />
<meta name="_csrf_header" th:content="${_csrf.headerName}" />
</head>
<div layout:fragment="content">

	<th:block layout:fragment="css">

		<link rel="stylesheet" href="/css/itemDetail.css">
		<link rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css">
		<link rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css">

	</th:block>



	<div class="site-section mt-5 mb-5 mt-5">
		<div class="container">
			<div class="banner_slider slider-wrap ">
				<th:block th:each="img , status:${imgList}">
					<div class="">
						<div class="s_view_pic_zoom">
							<img th:src="${img.imgUrl}" width="1000" height="1000"
								th:alt="${item.itemNm}" th:title="${item.itemNm}" class="middle">
						</div>
					</div>
				</th:block>
			</div>
			<div class="s_view_info btn_layer">
				<h3>
					<p>[[${item.itemNm}]]</p>
				</h3>



				<div id="lySns" class="layer_area" style="display: none">
					<div class="ly_wrap sns_layer">
						<div class="ly_cont">
							<div class="sns_list">
								<div class="ly_share_noti" style="display: none">
									<span>수익금 적립 불가 상품입니다.</span>
								</div>
								<ul>
									<li><a href="javascript:;" id="shareKakaoLinkBtn"
										data-sns="kakaolink"><img
											src="//recipe1.ezmember.co.kr/img/img_share_k.png"
											alt="카카오톡 공유"><br> <span>카카오톡</span></a></li>
									<li><a href="javascript:;" id="shareFacebookBtn"
										data-width="750" data-height="300" data-sns="facebook"
										class="btn-social-popup"><img
											src="//recipe1.ezmember.co.kr/img/img_share_f.png"
											alt="페이스북 공유"><br> <span>페이스북</span></a></li>
									<li><a href="javascript:;" id="shareTwitterBtn"
										data-width="500" data-height="250" data-sns="twitter"
										class="btn-social-popup"><img
											src="//recipe1.ezmember.co.kr/img/img_share_t.png"
											alt="트위터 공유"><br> <span>트위터</span></a></li>
									<li><a href="javascript:;" id="shareKakaoStoryBtn"
										data-sns="kakaostory"><img
											src="//recipe1.ezmember.co.kr/img/img_share_ks.png"
											alt="카카오스토리 공유"><br> <span>카카오스토리</span></a></li>
									<li><a href="javascript:;" id="shareCopyBtn" data-sns=""
										class="gd_clipboard" data-clipboard-text="" title="상품주소"><img
											src="//recipe1.ezmember.co.kr/img/img_share_l.png" alt="링크복사"><br>
											<span>링크복사</span></a></li>
								</ul>
							</div>
						</div>
						<a href="#lySns" class="ly_close"><img
							src="http://recipe1.ezmember.co.kr/img/mobile/2022/icon_close2.png"
							alt="닫기" width="26px"></a>
					</div>
				</div>




				<div class="sub_info">[[${item.itemSubNm}]]</div>
				<div class="price_box">
					<p class="dc">
						[[${item.sale}]]<small>%</small>
					</p>
					<p class="price">
						[[${#numbers.formatInteger(item.price - (item.price * item.sale /
						100), 0, 'COMMA')}]]<small id="won" style="">원</small>
					</p>
					<p class="del">[[${#numbers.formatInteger(item.price, 0,
						'COMMA')}]]원</p>
					<div class="info_price_rv">
						<div class="info_price_rv_star"
							style="display: inline-block; cursor: pointer;">
							<span class="info_price_rv_star_on" style="width: 90%;">리뷰별점</span>
						</div>
						<span class="info_price_rv_pt" style="cursor: pointer;">[[${item.retingAvg}]]</span>
						<span class="info_price_rv_ea" style="cursor: pointer;">([[${item.reviewCount}]])</span>
					</div>
					<div class="price_box_info_btn">
						<div style="position: relative; display: inline-block;">
							<a href="javascript:;" class="info_btn_share"><img
								src="//recipe1.ezmember.co.kr/img/mobile/icon_share10.png"
								alt="공유"></a>
						</div>
					</div>

					<div class="info_delivery_area">
						<dl class="info_delivery">
							<dt>
								<img
									src="//recipe1.ezmember.co.kr/img/mobile/icon_delivery3.png"
									alt="배송아이콘">배송
							</dt>
							<dd>무료배송</dd>
						</dl>
					</div>
					<dl class="info_delivery">
						<dt>
							<img src="//recipe1.ezmember.co.kr/img/mobile/icon_point.png"
								alt="구매아이콘">적립
						</dt>
						<dd>
							<b class="color_point1">4,295원</b> 적립<span> (모든 회원 구매액의
								0.5% 적립)</span>
						</dd>
					</dl>

					<div class="price_total" style="padding-top: 0;">
						<div class="btn_go_box">
							<button type="button" id="cartBtn" class="btn_go_cart"
								style="width: 39%;">장바구니</button>
							<button type="button" class="btn_go_order" style="width: 60%;">바로구매</button>
						</div>

					</div>
				</div>
			</div>

			<div class="D_goods_box">
				<ul id="goods_tab" class="goods_tab">
					<li><a href="#page-detail" id="tab-detail"
						onclick="clickTab('detail');" class="link active">상세정보</a></li>
					<li><a href="#page-review" id="tab-review"
						onclick="clickTab('review');" class="link">후기
							<p>(24)</p>
					</a></li>
					<li><a href="#page-etc" id="tab-etc"
						onclick="clickTab('etc');" class="link">배송환불</a></li>
					<li><a href="#page-qna" id="tab-qna"
						onclick="clickTab('qna');" class="link">문의
							<p>(20)</p>
					</a></li>
				</ul>
				<div class="D_goods_info">
					<div class="info_cont detail" id="goodsDetailInfo"
						style="padding-bottom: 100px; height: 1000px;">
						<div class="detail_explain_box">
							<div class="image-manual"></div>
							<div class="txt-manual">
								<div align="center" style="text-align: center;">
									<th:block th:each="detail , status:${imgDetailList}">
										<img th:src="${detail.imgUrl}" alt="">

									</th:block>
								</div>
							</div>
						</div>
						<!-- //detail_explain_box -->
						<div class="detail_more">
							<a href="javascript:ezhld_detail_more();" class="down"
								id="toggleLink">상세정보 더보기</a>
						</div>
					</div>
				</div>
			</div>

			<div class="D_goods_box" id="D_goodsReview_box"
				style="display: block; padding-bottom: 90px;">
				<div class="photoreview_tit2">
					<div class="photoreview_tit2_sort">
						<a href="javascript:viewReviewSort('best');" id="sortBest"
							class="active"><span>베스트순</span></a> <a
							href="javascript:viewReviewSort('date');" id="sortDate"><span>최신순</span></a>
					</div>
				</div>

				<div class="detail_board_box js_board_goodsreview_view"
					data-bdid="goodsreview">
					<div class="item_list" id="ezhld_reviews_list">
						<ul class="review_list"
							th:each="review , status:${itemReviewList}" id="review_list">


							<li><div class="review_list_top">
									<div class="review_list_name">[[${review.nickname}]]</div>
									<div class="goods2_info_price_rv">
										<div class="goods2_info_price_rv_star"
											style="display: inline-block;">
											<span class="goods2_info_price_rv_star_on"
												style="width: 100%;">&nbsp;</span>
										</div>
									</div>
									<span class="review_list_date"
										th:text="${#temporals.format(review.regTime, 'yyyy.MM.dd')}"></span>
								</div>
								<div class="review_list_pic">
									<!-- 리뷰 이미지 -->
								</div>
								<div class="review_list_cont">[[${review.content}]]</div>
								<div class="comment_box">

									<div class="comment_recomment comment_wrap"
										th:if="${review.answerContent != null}"
										style="display: block;">
										<div class="recomment_right">

											<p class="recomment_profile">

												<span><b class="txt-info">이젠스토어 관리자 </b></span> <span
													class="recomment_date"
													th:text="${#temporals.format(review.answerRegTime, 'yyyy.MM.dd HH:mm:ss')}"></span>
												<span class="admin_ch" onclick="answerUpdate(this)"
													data-review-id="${review.id}">수정</span> <span
													class="admin_ch"
													th:attr="data-review-id=${review.answerId}"
													onclick="answerOk2(this)">삭제</span>
											</p>
											<p class="recomment_txt">
												<span class="cmt_detail">안녕하세요. 이젠 스토어 고객센터입니다. <br>
													<br> [[${review.answerContent}]] <br> <br>
													이용해주셔서 항상 감사합니다.

												</span>
											</p>
										</div>
									</div>
									<div class="comment_store cFormTriger" id="update_box"
										style="display: none;">

										<div class="mb-2 admin_box">
											<div class="admin_name_box">관리자</div>
											<div class="admin_name">skyjangking@naver.com</div>
										</div>
										<div class="mb-2 admin_box">
											<div class="admin_name_box">답변</div>
											<textarea class="answer_box" placeholder="답변을 입력해주세요"
												id="content" name="content">[[${review.answerContent}]]</textarea>

										</div>
										<div class="admin_choice_box">
											<div class="plain-btn btn active"
												th:attr="data-review-id=${review.answerId}"
												onclick="answerOk(this , 'update')">답변 수정</div>
											<div class="update_x" onclick="updateCancle(this)"
												data-review-id="${review.id}">x</div>
										</div>
									</div>

									<div class="comment_store cFormTriger"
										th:if="${review.answerContent == null}">

										<div class="mb-2 admin_box">
											<div class="admin_name_box">관리자</div>
											<div class="admin_name">skyjangking@naver.com</div>
										</div>
										<div class="mb-2 admin_box">
											<div class="admin_name_box">답변</div>
											<textarea class="answer_box" placeholder="답변을 입력해주세요"></textarea>

										</div>
										<div class="comment_area_btn plain-btn btn active"
											th:attr="data-review-id=${review.id}"
											onclick="answerOk(this , 'reg')">답변등록</div>
									</div>
								</div> <input type="hidden" th:value="${review.id}" id="reviewId"
								name="reviewId"></li>
						</ul>

						<div class="book_page pt-3 pb-3">
							<nav
								th:with="start=${(itemReviewList.number/maxPage)*maxPage + 1}
			                 ,end=(${(itemReviewList.totalPages == 0) ? 1 : (start + (maxPage - 1) < itemReviewList.totalPages ? start + (maxPage - 1) : itemReviewList.totalPages)})"
								aria-label="Page navigation example">
								<ul class="pagination d-flex justify-content-center">

									<li class="page-item"
										th:classappend="${itemReviewList.first}?'disabled'"><a
										class="page-link"
										th:onclick="'javascript:page(' + ${itemReviewList.number - 1} +')'"><<</a>
									</li>

									<li class="page-item"
										th:each="page: ${#numbers.sequence(start, end)}"
										th:classappend="${itemReviewList.number eq page-1}?'active':''"><a
										class="page-link" th:inline="text"
										th:onclick="'javascript:page(' + ${page - 1} +')'">[[${page}]]</a>
									</li>

									<li class="page-item"
										th:classappend="${itemReviewList.last}?'disabled'"><a
										class="page-link"
										th:onclick="'javascript:page(' + ${itemReviewList.number + 1} +')'">>></a>
									</li>
								</ul>
							</nav>
						</div>


					</div>
				</div>

			</div>

			<div class="item-location-header mb-3">
				<table class="table table-sm table-hover text-center">
					<colgroup>
						<col width="7%">
						<col width="12%">
						<col width="12%">
						<col width="auto">
						<col width="12%">
						<col width="12%">
					</colgroup>
					<thead>
						<tr>
							<th scope="col">No.</th>
							<th scope="col">답변여부</th>
							<th scope="col">구분</th>
							<th scope="col">제목</th>
							<th scope="col">작성자</th>
							<th scope="col">등록일자</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>1</td>
							<td>답변대기</td>
							<td>배송문의</td>
							<td>안녕하세요</td>
							<td>sky***</td>
							<td>2023.08.31</td>
						</tr>
						<tr id="q5" class="conect_detail_comment" style="">
							<td colspan="6">
								<p>하자있는상품을 받아서 반품신청을했는데 7일이 지나도 아무런 소식도없네요 빠른 처리부탁드립니다</p>
							</td>
						</tr>
						<tr class="a5 conect_feedback_comment fb_1"
							style="display: table-row;">
							<td class="feedback_comment" colspan="5">
								<p>
									안녕하세요 고객님, <br> <br> 감사합니다.

								</p>
							</td>
							<td class="feedback_writer">2023.08.24</td>
						</tr>
					</tbody>
					<tbody>
						<tr>
							<td>2</td>
							<td>답변대기</td>
							<td>배송문의</td>
							<td>안녕하세요</td>
							<td>sky***</td>
							<td>2023.08.31</td>
						</tr>
					</tbody>
					<tbody>
						<tr>
							<td>3</td>
							<td>답변대기</td>
							<td>배송문의</td>
							<td>안녕하세요</td>
							<td>sky***</td>
							<td>2023.08.31</td>
						</tr>
					</tbody>
					<tbody>
						<tr>
							<td>4</td>
							<td>답변대기</td>
							<td>배송문의</td>
							<td>안녕하세요</td>
							<td>sky***</td>
							<td>2023.08.31</td>
						</tr>
					</tbody>
					<tbody>
						<tr>
							<td>5</td>
							<td>답변대기</td>
							<td>배송문의</td>
							<td>안녕하세요</td>
							<td>sky***</td>
							<td>2023.08.31</td>
						</tr>
					</tbody>
					<tbody>
						<tr>
							<td>6</td>
							<td>답변대기</td>
							<td>배송문의</td>
							<td>안녕하세요</td>
							<td>sky***</td>
							<td>2023.08.31</td>
						</tr>
					</tbody>
					<tbody>
						<tr>
							<td>7</td>
							<td>답변대기</td>
							<td>배송문의</td>
							<td>안녕하세요</td>
							<td>sky***</td>
							<td>2023.08.31</td>
						</tr>
					</tbody>

				</table>
				<div class="box_btn_right">
					<p>타 쇼핑몰 언급, 거래 글, 분쟁 유발, 허위 사실 유포는 금지됩니다.</p>
					<a onclick="showPopup();" class="plain-btn btn pd10_btn">작성하기</a>
				</div>

			

			</div>



			<input type="hidden" th:value="${itemId}" id="itemId">



		</div>

	</div>
</div>



<th:block layout:fragment="script">
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>
	<link rel="stylesheet"
		href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css">
	<link rel="stylesheet"
		href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css">
	<script>
		var token = $("meta[name='_csrf']").attr("content");
		var header = $("meta[name='_csrf_header']").attr("content");

		$(document).ready(function() {
			$('.banner_slider').slick({
				infinite : true, // 무한반복
				slidesToShow : 1, // 보여지는 슬라이드 개수
				slidesToScroll : 1, // 넘어가는 슬라이드 개수
				dots : false
			// 점 네비게이션 표시
			// arrows: false,        화살표 표시
			// fade:true             페이드 효과
			// autoplay: true,       자동스크롤
			// autoplaySpeed: 4000   자동스크롤 속도
			/* 반응형
			responsive: [
			  {
			    breakpoint: 1024,
			    settings: {
			      slidesToShow: 3,
			      slidesToScroll: 3,
			      infinite: true,
			      dots: true
			    }
			  },
			  {
			    breakpoint: 600,
			    settings: {
			      slidesToShow: 2,
			      slidesToScroll: 2
			    }
			  },
			  {
			    breakpoint: 480,
			    settings: {
			      slidesToShow: 1,
			      slidesToScroll: 1
			    }
			  }
			]
			 */
			});
		});

		function ezhld_detail_more() {
			var toggleLink = document.getElementById("toggleLink");
			var goodsDetailInfo = document.getElementById("goodsDetailInfo");

			var targetPosition = document.getElementById("goods_tab").offsetTop;

			if (goodsDetailInfo.style.overflow === "visible") {
				// 현재 상태가 '더보기' 상태일 때
				toggleLink.innerText = "상세정보 더보기";
				goodsDetailInfo.style.height = "1000px";
				goodsDetailInfo.style.overflow = "hidden";
				window.scrollTo({
					top : targetPosition,
					behavior : "smooth" // 부드러운 스크롤 효과 적용
				});

			} else {
				// 현재 상태가 '덥기' 상태일 때
				toggleLink.innerText = "상세정보 덥기";
				goodsDetailInfo.style.height = "100%";
				goodsDetailInfo.style.overflow = "visible";
			}
		}

		function answerOk(button , choice) {
			const currentDate = new Date();

			// 원하는 포맷으로 날짜 포맷팅 함수
			function formatCurrentDate(date) {
				const year = date.getFullYear();
				const month = (date.getMonth() + 1).toString().padStart(2, '0');
				const day = date.getDate().toString().padStart(2, '0');
				const hours = date.getHours().toString().padStart(2, '0');
				const minutes = date.getMinutes().toString().padStart(2, '0');
				const seconds = date.getSeconds().toString().padStart(2, '0');

				return `${year}.${month}.${day} ${hours}:${minutes}:${seconds}`;
			}

			// 포맷팅된 현재 시간을 가져옴
			const formattedCurrentDate = formatCurrentDate(currentDate);

			//등록시
			if (choice == 'reg') {

				const reviewId = $(button).attr("data-review-id"); // 리뷰 ID 값 가져오기
				const content = $(button).closest(".comment_store").find(
						".answer_box").val();

				if (confirm("답변 등록하시겠습니까?")) {

					var url = "/answerReg";

					var paramData = {
						id : reviewId,
						content : content
					}

					var param = JSON.stringify(paramData);

					$.ajax({
						url : url, //request URL
						type : "POST", //전송방식
						contentType : "application/json",
						data : param, //서버에 전송할 데이터
						beforeSend : function(xhr) {
							//데이터를 전송하기전에 헤더에 csrf 값을 설정
							xhr.setRequestHeader(header, token);
						},
						dataType : "json",
						cache : false,
						success : function(result, status) {
							alert("등록시간 : " + formattedCurrentDate + "\n"
									+ "등록 되었습니다.");
							//location.href = '/';
						},
						error : function(jqXHR, status, error) {
							if (jqXHR.status == '401') {
								alert('관리자로그인 후 이용해주세요.');
								//	location.href = '/';
							} else {
								//에러메세지 출력(ResponseEntity에서 받아온 값을 출력해준다)
								alert(jqXHR.responseText);
							}
						}
					});

				}
			}
			// 수정시
			if (choice == 'update') {

				const reviewId = $(button).attr("data-review-id"); // 리뷰 ID 값 가져오기
				const content = $(button).closest(".comment_store").find(
						".answer_box").val();

				if (confirm("답변 수정 하시겠습니까?")) {

					var url = "/answerUpdate";

					var paramData = {
						id : reviewId,
						content : content
					}

					var param = JSON.stringify(paramData);

					$.ajax({
						url : url, //request URL
						type : "POST", //전송방식
						contentType : "application/json",
						data : param, //서버에 전송할 데이터
						beforeSend : function(xhr) {
							//데이터를 전송하기전에 헤더에 csrf 값을 설정
							xhr.setRequestHeader(header, token);
						},
						dataType : "json",
						cache : false,
						success : function(result, status) {
							alert("등록시간 : " + formattedCurrentDate + "\n"
									+ "등록 되었습니다.");
							//location.href = '/';
						},
						error : function(jqXHR, status, error) {
							if (jqXHR.status == '401') {
								alert('관리자로그인 후 이용해주세요.');
								//	location.href = '/';
							} else {
								//에러메세지 출력(ResponseEntity에서 받아온 값을 출력해준다)
								alert(jqXHR.responseText);
							}
						}
					});

				}
			}
			// 삭제시

		}
			function answerOk2(button) {
				
				
				
				const reviewId = $(button).attr("data-review-id"); // 리뷰 ID 값 가져오기

				if (confirm("답변 삭제 하시겠습니까?")) {

					var url = "/answerDelete";

					var paramData = {id : reviewId}

					var param = JSON.stringify(paramData);
					
					$.ajax({
						url : url, //request URL
						type : "DELETE", //전송방식
						contentType : "application/json",
						data : param, //서버에 전송할 데이터
						beforeSend : function(xhr) {
							//데이터를 전송하기전에 헤더에 csrf 값을 설정
							xhr.setRequestHeader(header, token);
						},
						dataType : "json",
						cache : false,
						success : function(result, status, jqXHR) {
							 alert(jqXHR.responseText);
							 alert("ㅅㄱ!");
							 window.location.reload(true); 
							
						},
						error : function(jqXHR, status, error) {
							if (jqXHR.status == '401') {
								alert('관리자로그인 후 이용해주세요.');
								//	location.href = '/';
							} else {
								//에러메세지 출력(ResponseEntity에서 받아온 값을 출력해준다)
								alert(jqXHR.responseText);
							}
						}
					})

				}
				
			}
			
			
			  $.ajax({
	                url: url,
	                type: method,
	                beforeSend: function (xhr) {
	                    xhr.setRequestHeader(header, token);
	                },
	                data: JSON.stringify({
	                    auctionNo: auctionNo,
	                    price: price
	                }),
	                contentType: "application/json",
	                success: function (result, status, jqXHR) {
	                    // 요청 성공 처리
	                    alert(jqXHR.responseText);
	                    location.href = document.referrer;
	                },
	                error: function (jqXHR, status, error) {
	                    if (jqXHR.status == '401') {
	                        alert('로그인 후 이용해주세요.');
	                        location.href = '/member/login';
	                    } else {
	                        alert(jqXHR.responseText);
	                        location.href = document.referrer;
	                    }

	                }
	            });

		function answerUpdate(button) {

			const targetCommentRecomment = $(button).closest(".comment_box")
					.find(".comment_recomment");
			const targetUpdateBox = $(button).closest(".comment_box").find(
					"#update_box");

			targetCommentRecomment.fadeOut(80, function() {
				targetUpdateBox.fadeIn(80);
			});
		}
		function updateCancle(button) {

			const targetCommentRecomment = $(button).closest(".comment_box")
					.find(".comment_recomment");
			const targetUpdateBox = $(button).closest(".comment_box").find(
					"#update_box");

			targetUpdateBox.fadeOut(80, function() {
				targetCommentRecomment.fadeIn(80);
			});
		}
		
		
		function showPopup() {
			
			var itemId = $("#itemId").val();
			
			url =  "/popup/" + itemId;
			
		    window.open( url , "popupWindow", "width=620, height=860, left=100, top=50"); 
		}
		
	</script>


	<script th:inline="javascript">
		$(document).ready(function() {

			$("#searchBtn").on("click", function(e) {
				e.preventDefault(); //submit되는걸 방지
				page(0);
			});

		});

		function page(page) {
			//입력한 값을 전부 가지고 온다.
			var itemId = $("#itemId").val();

			//주소 이동
			location.href = "/item/" + itemId + "?reviewPage=" + page;
		}
	</script>
</th:block>


</html>