<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout1}">
	
	<div layout:fragment="content">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
	
	<th:block layout:fragment="css">
	<link rel="stylesheet" href="css/main.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css">
	</th:block>
		

			
			   <div class="banner_slider slider-wrap">
          <div class="slider-items" th:each="sliderContent : ${sliderContent}">
        	<div class="main_box_in2" >
			<img alt="배너이미지1" th:src="${sliderContent.imageUrl}" class="main_img">
		</div>
		<div class="main_box_in1">
			<p class="banner_sub_title">[[${sliderContent.subTitle}]]</p>
			<p class="banner_title">[[${sliderContent.title}]]</p>
			<a href="#" class="banner_info">
			레시피보기 >>
			</a>
		</div>	
	          
         </div>
          </div>
			
			
	
	<div class="container">
			<div class="best_recipe_box">
				
				<h2 class="def_title">베스트 레시피 
	<a href="/" class="fr">더보기></a>
	</h2>
	<div class="best_recipe_slider slider-wrap rec_list">
	 
	
    	
    <div class="slider-items">
		
      <div class="item item-related-book">
		  
		  <div class="collection-item book">
		  <div class="item-cover">
				<a href="/">
		  <img src="img/recipe-1.jpg" alt="1"  class="item-cover-image">
				</a>
		  </div>
		    <div class="item-meta">
		<div class="item-title">
			<h4>
				<a href="/" tabindex="0">제목</a>
			</h4>
		</div>
		<div class="item-author">
			작성자명
		</div>
		</div>
		  </div>
	  </div>
		
	</div>
	<div class="slider-items">
		
      <div class="item item-related-book">
		  
		  <div class="collection-item book">
		  <div class="item-cover">
				<a href="/">
		  <img src="img/recipe-1.jpg" alt="1"  class="item-cover-image">
				</a>
		  </div>
		    <div class="item-meta">
		<div class="item-title">
			<h4>
				<a href="/" tabindex="0">제목</a>
			</h4>
		</div>
		<div class="item-author">
			작성자명
		</div>
		</div>
		  </div>
	  </div>
		
	</div>
	<div class="slider-items">
		
      <div class="item item-related-book">
		  
		  <div class="collection-item book">
		  <div class="item-cover">
				<a href="/">
		  <img src="img/recipe-1.jpg" alt="1"  class="item-cover-image">
				</a>
		  </div>
		    <div class="item-meta">
		<div class="item-title">
			<h4>
				<a href="/" tabindex="0">제목</a>
			</h4>
		</div>
		<div class="item-author">
			작성자명
		</div>
		</div>
		  </div>
	  </div>
		
	</div>
   	<div class="slider-items">
		
      <div class="item item-related-book">
		  
		  <div class="collection-item book">
		  <div class="item-cover">
				<a href="/">
		  <img src="img/recipe-1.jpg" alt="1"  class="item-cover-image">
				</a>
		  </div>
		    <div class="item-meta">
		<div class="item-title">
			<h4>
				<a href="/" tabindex="0">제목</a>
			</h4>
		</div>
		<div class="item-author">
			작성자명
		</div>
		</div>
		  </div>
	  </div>
		
	</div>
	<div class="slider-items">
		
      <div class="item item-related-book">
		  
		  <div class="collection-item book">
		  <div class="item-cover">
				<a href="/">
		  <img src="img/recipe-1.jpg" alt="1"  class="item-cover-image">
				</a>
		  </div>
		    <div class="item-meta">
		<div class="item-title">
			<h4>
				<a href="/" tabindex="0">제목</a>
			</h4>
		</div>
		<div class="item-author">
			작성자명
		</div>
		</div>
		  </div>
	  </div>
		
	</div>
	<div class="slider-items">
		
      <div class="item item-related-book">
		  
		  <div class="collection-item book">
		  <div class="item-cover">
				<a href="/">
		  <img src="img/recipe-1.jpg" alt="1"  class="item-cover-image">
				</a>
		  </div>
		    <div class="item-meta">
		<div class="item-title">
			<h4>
				<a href="/" tabindex="0">제목</a>
			</h4>
		</div>
		<div class="item-author">
			작성자명
		</div>
		</div>
		  </div>
	  </div>
		
	</div>
    	
    </div>
			
			
			
				
				
				
			</div>
		<div class="main_box main_hit">
			<h2 class="def_title">베스트 쉐프!</h2>
			<ul class="clr">
				
				<th:block th:each="bestMember , status:${mainMemberlList}">
							<li class="rec_list" style="display:block">
					<div class="num">[[${bestMember.num}]]</div>
					<a href="#" class="clr">
						<div class="img_box">
							<th:block th:if=" ${bestMember.imgMainOk.toString()} == 'Y' ">
							<img th:src="${bestMember.imgUrl}" th:alt="${bestMember.imgName}">
							</th:block>
							<th:block th:if=" ${bestMember.imgMainOk.toString()} == 'NONE' ">
							<img src="img/장어덮밥.jpg" alt="등록된 이미지가 없습니다">
							</th:block>
							</div>
						<div class="text_box">
							<p class="s_title">자개소개 칸</p>
							<p class="b_title" title="배추김치">[[${bestMember.nickname}]]</p>
						</div>
					</a>
						<div class="like"> 팔로워 수 : [[${bestMember.followCount}]] / 레시피수 : [[${bestMember.recipeCount}]] </div>
				</li>
				</th:block>
										<li class="rec_list" style="display:block">
					<div class="num">2</div>
					<a href="recipe.php?id=view&amp;idx=1041" class="clr">
						<div class="img_box"><img src="../../data/recipe/20170521104711-K8QOB.jpg" alt=""></div>
						<div class="text_box">
							<p class="s_title">꼭 맛보아야할 별미</p>
							<p class="b_title" title="콩나물고추전">콩나물고추전</p>
						</div>
					</a>
									<a href="javascript:recipe_ggim(1041);" class="like"><img id="ggim_1041" src="/skin/nodskin_argio/images/main_like_off.jpg" alt=""></a>
				</li>
								
							</ul>
			<a href="javascript:more_recipe();" class="more more_rec">더보기</a>
		</div>	
		
		<div class="best_box">
			<h2 class="def_title">BEST 레시피<a href="/" class="fr">더보기></a></h2>
			<div class="rec_list">
				<ul class="clr d-flex">
				
				<th:block th:each="recipe , status:${mainBestList}">
				
									<li class="ml_none">
						<a href="recipe.php?id=view&amp;idx=1347">
							<div class="img_wrap"><img th:src="${recipe.imageUrl}" alt="" style="width:100%"></div>
							<div class="text_box">
								<p class="s_title">[[${recipe.subTitle}]]</p>
								<p class="b_title" title="문어 장조림">[[${recipe.title}]] 조회수 : [[${recipe.count}]]</p>
							</div>
						</a>
					</li>
				
				</th:block>
								</ul>
			</div>
		</div>
		
		<div class="best_box">
			<h2 class="def_title">NEW 레시피<a href="/" class="fr">더보기></a></h2>
			<div class="rec_list">
				<ul class="clr d-flex">
				
				<th:block th:each="recipe , status:${mainNewList}">
				
									<li class="ml_none">
						<a href="recipe.php?id=view&amp;idx=1347">
							<div class="img_wrap"><img src="img/장어덮밥.jpg" alt="" style="width:100%"></div>
							<div class="text_box">
								<p class="s_title">[[${recipe.subTitle}]]</p>
								<p class="b_title" title="문어 장조림">[[${recipe.durTime}]]</p>
							</div>
						</a>
					</li>
				
				</th:block>
								</ul>
			</div>
		</div>

		
			
			
			
	</div>
	
	</div>
	
	<th:block layout:fragment="script">
 
<!-- Slick 불러오기 -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css">
	<script>
	$(document).ready(function(){
		  $('.banner_slider').slick({    
		    infinite: true ,      // 무한반복
		     slidesToShow: 1,     // 보여지는 슬라이드 개수
		     slidesToScroll: 1,   // 넘어가는 슬라이드 개수
		     dots: true           // 점 네비게이션 표시
		    // arrows: false,        화살표 표시
		    // fade:true             페이드 효과
		    // autoplay: true,       자동스크롤
		    // autoplaySpeed: 4000   자동스크롤 속도
		    /* 반응형
		    responsive: [
		      {
		        breakpoint: 1024,
		        settings: {
		          slidesToShow: 3,
		          slidesToScroll: 3,
		          infinite: true,
		          dots: true
		        }
		      },
		      {
		        breakpoint: 600,
		        settings: {
		          slidesToShow: 2,
		          slidesToScroll: 2
		        }
		      },
		      {
		        breakpoint: 480,
		        settings: {
		          slidesToShow: 1,
		          slidesToScroll: 1
		        }
		      }
		    ]
		    */
		  });
		});
       
	$(document).ready(function(){
		  $('.best_recipe_slider').slick({    
		    infinite: false ,      // 무한반복
		     slidesToShow: 5,     // 보여지는 슬라이드 개수
		     slidesToScroll: 1,   // 넘어가는 슬라이드 개수
		     dots: false           // 점 네비게이션 표시
		    // arrows: false,        화살표 표시
		    // fade:true             페이드 효과
		    // autoplay: true,       자동스크롤
		    // autoplaySpeed: 4000   자동스크롤 속도
		    /* 반응형
		    responsive: [
		      {
		        breakpoint: 1024,
		        settings: {
		          slidesToShow: 3,
		          slidesToScroll: 3,
		          infinite: true,
		          dots: true
		        }
		      },
		      {
		        breakpoint: 600,
		        settings: {
		          slidesToShow: 2,
		          slidesToScroll: 2
		        }
		      },
		      {
		        breakpoint: 480,
		        settings: {
		          slidesToShow: 1,
		          slidesToScroll: 1
		        }
		      }
		    ]
		    */
		  });
		});
	
	
          
    </script>
	
	</th:block>
	
	
</html>