<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout1}">

<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
	crossorigin="anonymous" />
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
	integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
	crossorigin="anonymous"></script>

<!-- Google Font -->
<link
	href="https://fonts.googleapis.com/css?family=PT+Sans:400,700&display=swap"
	rel="stylesheet" />

<!-- Css Styles -->
<link rel="stylesheet" href="css/bootstrap.min.css" type="text/css" />
<link rel="stylesheet" href="css/font-awesome.min.css" type="text/css" />
<link rel="stylesheet" href="css/nice-select.css" type="text/css" />
<link rel="stylesheet" href="css/slicknav.min.css" type="text/css" />
<link rel="stylesheet" href="css/style.css" type="text/css" />

<th:block layout:fragment="css">
	<style>
.ellipsis {
	width: 300px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis; /* 말줄임 적용 */
}
</style>
</th:block>

<div layout:fragment="content" class="content">
	<!-- Page Preloder -->
	<div id="preloder">
		<div class="loader"></div>
	</div>



	<!-- Hero Search Section Begin -->
	<div class="hero-search set-bg" data-setbg="img/search-bg.jpg">
		<div class="container">
			<div class="filter-table">
				<form action="#" class="filter-search"
					th:object="${recipeSearchDto}">
					<h2>레시피 관리</h2>
					<select th:field="*{searchBy}" class="form-control">
						<option value="nickname">이름</option>
						<option value="description">내용</option>
					</select> <input class="form-control me-2" th:field="*{searchQuery}"
						type="text" placeholder="Search recipe" />

					<button id="searchBtn" type="submit">Search</button>
				</form>
			</div>
		</div>
	</div>
	<!-- Hero Search Section End -->

	<!-- Contact Section Begin -->
	<section class="contact-section spad">
		<div class="container">
			<div class="section-line">
				<div class="movie-info-entity">
					<div class="entity-poster" data-role="hover-wrap">
						<div class="embed-responsive embed-responsive-poster">
							<img class="embed-responsive-item" src="" alt="" />
						</div>
						<div class="d-over bg-theme-lighted collapse animated faster"
							data-show-class="fadeIn show" data-hide-class="fadeOut show">
							<div class="entity-play">
								<a class="action-icon-theme action-icon-bordered rounded-circle"
									href="https://www.youtube.com/watch?v=d96cjJhvlMA"
									data-magnific-popup="iframe"> <span class="icon-content"><i
										class="fas fa-play"></i></span>
								</a>
							</div>
						</div>
					</div>

					<th:block th:each="recipe : ${recipes}">
						<div class="card mb-3 border-3">
							<div class="row g-0">
								<div class="col-md-4">
									<div style="max-width: 80%">
										<img th:src="${recipe.imageUrl}"
											class="img-fluid rounded-start" alt="..." />
									</div>
								</div>
								<div class="col-md-8">
									<div class="card-body">
										<h5 class="card-title">이름: [[${recipe.nickname}]]</h5>
										<h5 class="card-title">제목: [[${recipe.title}]]</h5>
										<h5 class="card-title ellipsis">내용:
											[[${recipe.description}]]</h5>
										<h5 class="card-title">댓글: [[${recipe.commentCount}]]</h5>
										<h5 class="card-title">별점: [[${recipe.rating}]]</h5>
										<p class="card-text"></p>
										<p class="card-text">
											<small class="text-muted">Last updated 3 mins ago</small>
										</p>
									</div>
								</div>
							</div>
						</div>
					</th:block>
				</div>
			</div>
		</div>
	</section>
	<!-- Contact Section End -->



	<!-- Similar Recipe Section Begin -->
	<section class="similar-recipe spad">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-6">
					<div class="similar-item">
						<a href="#"><img src="img/cat-feature/small-7.jpg" alt="" /></a>
						<div class="similar-text">
							<div class="cat-name">Vegan</div>
							<h6>Italian Tiramisu with Coffe</h6>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="similar-item">
						<a href="#"><img src="img/cat-feature/small-6.jpg" alt="" /></a>
						<div class="similar-text">
							<div class="cat-name">Vegan</div>
							<h6>Dry Cookies with Corn</h6>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="similar-item">
						<a href="#"><img src="img/cat-feature/small-5.jpg" alt="" /></a>
						<div class="similar-text">
							<div class="cat-name">Vegan</div>
							<h6>Asparagus with Pork Loin and Vegetables</h6>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="similar-item">
						<a href="#"><img src="img/cat-feature/small-4.jpg" alt="" /></a>
						<div class="similar-text">
							<div class="cat-name">Vegan</div>
							<h6>Smoked Salmon mini Sandwiches with Onion</h6>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Similar Recipe Section End -->



	<!-- Search model -->
	<div class="search-model">
		<div class="h-100 d-flex align-items-center justify-content-center">
			<div class="search-close-switch">+</div>
			<form class="search-model-form">
				<input type="text" id="search-input" placeholder="Search here....." />
			</form>
		</div>
	</div>




	<!-- 페이징버튼 -->
	<!-- start = (현재 페이지 번호/보여줄 페이지수) + 1, 페이지 시작번호 -->
	<!-- end = start + (보여줄 페이지수 - 1), 페이지 끝번호 -->
	<!-- 끝번호가 전체페이지보다 작으면 ◀ 1 2 3 4 5 ▶ -->
	<nav
		th:with="start=${(recipes.number/maxPage)*maxPage + 1}
			,end=(${(recipes.totalPages == 0) ? 1 : (start + (maxPage - 1) < recipes.totalPages ? start + (maxPage - 1) : recipes.totalPages)})"
		aria-label="Page navigation example">
		<ul class="pagination d-flex justify-content-center">
			<li class="page-item" th:classappend="${recipes.first}?'disabled'">
				<a class="page-link"
				th:onclick="'javascript:page(' + ${recipes.number - 1} +')'">이전</a>
			</li>
			<li class="page-item"
				th:each="page: ${#numbers.sequence(start, end)}"
				th:classappend="${recipes.number eq page-1}?'active':''"><a
				class="page-link" th:inline="text"
				th:onclick="'javascript:page(' + ${page - 1} +')'">[[${page}]]</a></li>
			<li class="page-item" th:classappend="${recipes.last}?'disabled'">
				<a class="page-link"
				th:onclick="'javascript:page(' + ${recipes.number + 1} +')'">다음</a>
			</li>
		</ul>
	</nav>


</div>



<th:block layout:fragment="script">
	<script th:inline="javascript">
		$(document).ready(function() {
			$("#searchBtn").on("click", function(e) {
				e.preventDefault(); //submit되는걸 방지
				page(0);
			});
		});

		//페이징버튼 눌렀을때 검색어와 selectbox를 get방식으로 주소이동시켜준다
		function page(page) {
			var searchBy = $("#searchBy").val();
			var searchQuery = $("#searchQuery").val();

			//주소 이동
			location.href = "/admin/recipeMng/" + page + "?searchBy="
					+ searchBy + "&searchQuery=" + searchQuery;
		}
	</script>
</th:block>

</html>
