<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout1}">

<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
	crossorigin="anonymous" />
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
	integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
	crossorigin="anonymous"></script>

<!-- Google Font -->
<link
	href="https://fonts.googleapis.com/css?family=PT+Sans:400,700&display=swap"
	rel="stylesheet" />

<!-- Css Styles -->
<link rel="stylesheet" href="css/bootstrap.min.css" type="text/css" />
<link rel="stylesheet" href="css/font-awesome.min.css" type="text/css" />
<link rel="stylesheet" href="css/nice-select.css" type="text/css" />
<link rel="stylesheet" href="css/slicknav.min.css" type="text/css" />
<link rel="stylesheet" href="css/style.css" type="text/css" />


	<!-- Page Preloder -->
	<div id="preloder">
		<div class="loader"></div>
	</div>

	<!-- Header Section Begin -->
	<header class="header-section-other">
		<div class="container-fluid">
			<div class="logo">
				<a href="./index.html"><img src="img/little-logo.png" alt="" /></a>
			</div>
			<div class="nav-menu">
				<nav class="main-menu mobile-menu">
					<ul>
						<li class="active"><a href="#">Home</a></li>
						<li><a href="#">Pages</a>
							<ul class="sub-menu">
								<li><a href="about-me.html">About Me</a></li>
								<li><a href="categories.html">Categories</a></li>
								<li><a href="recipe.html">Recipe</a></li>
								<li><a href="blog.html">Blog</a></li>
								<li><a href="contact.html">Contact</a></li>
							</ul></li>
						<li><a href="recipe.html">Recipes</a></li>
						<li><a href="categories.html">Best Of</a></li>
						<li><a href="contact.html">Contact</a></li>
					</ul>
				</nav>
				<div class="nav-right search-switch">
					<i class="fa fa-search"></i>
				</div>
			</div>
			<div id="mobile-menu-wrap"></div>
		</div>
	</header>
	<!-- Header End -->

	<!-- Hero Search Section Begin -->
	<div class="hero-search set-bg" data-setbg="img/search-bg.jpg">
		<div class="container">
			<div class="filter-table">
				<form action="#" class="filter-search">
					<input type="text" placeholder="Search recipe" />

					<button type="submit">Search</button>
				</form>
			</div>
		</div>
	</div>
	<!-- Hero Search Section End -->

	<!-- Contact Section Begin -->
	<section class="contact-section spad">
		<div class="container">
			<div class="section-line">
				<div class="movie-info-entity">
					<div class="entity-poster" data-role="hover-wrap">
						<div class="embed-responsive embed-responsive-poster">
							<img class="embed-responsive-item" th:src="" th:alt="" />
						</div>
						<div class="d-over bg-theme-lighted collapse animated faster"
							data-show-class="fadeIn show" data-hide-class="fadeOut show">
							<div class="entity-play">
								<a class="action-icon-theme action-icon-bordered rounded-circle"
									href="https://www.youtube.com/watch?v=d96cjJhvlMA"
									data-magnific-popup="iframe"> <span
									class="icon-content"><i
										class="fas fa-play"></i></span>
								</a>
							</div>
						</div>
					</div>
					<div class="card mb-3 border-3" style="max-width: 540px">
						<div class="row g-0">
							<div class="col-md-4">
								<div style="max-width: 80%">
									<img src="..." class="img-fluid rounded-start" alt="..." />
								</div>
							</div>
							<div class="col-md-8">
								<div class="card-body">
									<h5 class="card-title">Card title</h5>
									<p class="card-text">This is a wider card with supporting
										text below as a natural lead-in to additional content. This
										content is a little bit longer.</p>
									<p class="card-text">
										<small class="text-muted">Last updated 3 mins ago</small>
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Contact Section End -->

	<!-- Map Section Begin -->
	<div class="map">
		<iframe
			src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d26440.72384129847!2d-118.24906619231132!3d34.06719475913053!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80c2c659f50c318d%3A0xe2ffb80a9d3820ae!2sChinatown%2C%20Los%20Angeles%2C%20CA%2C%20USA!5e0!3m2!1sen!2sbd!4v1570213740685!5m2!1sen!2sbd"
			height="550" style="border: 0" allowfullscreen=""></iframe>
		<div class="map-content set-bg" data-setbg="img/map-bg.png">
			<div class="contact-addr">
				col-md-6 <span>Main Road , No 25/11</span>
				<ul>
					<li>+34 556788 3221</li>
					<li>contact@foodblog.com</li>
				</ul>
			</div>
		</div>
	</div>
	<!-- Map Section End -->

	<!-- Similar Recipe Section Begin -->
	<section class="similar-recipe spad">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-6">
					<div class="similar-item">
						<a href="#"><img src="img/cat-feature/small-7.jpg" alt="" /></a>
						<div class="similar-text">
							<div class="cat-name">Vegan</div>
							<h6>Italian Tiramisu with Coffe</h6>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="similar-item">
						<a href="#"><img src="img/cat-feature/small-6.jpg" alt="" /></a>
						<div class="similar-text">
							<div class="cat-name">Vegan</div>
							<h6>Dry Cookies with Corn</h6>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="similar-item">
						<a href="#"><img src="img/cat-feature/small-5.jpg" alt="" /></a>
						<div class="similar-text">
							<div class="cat-name">Vegan</div>
							<h6>Asparagus with Pork Loin and Vegetables</h6>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="similar-item">
						<a href="#"><img src="img/cat-feature/small-4.jpg" alt="" /></a>
						<div class="similar-text">
							<div class="cat-name">Vegan</div>
							<h6>Smoked Salmon mini Sandwiches with Onion</h6>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Similar Recipe Section End -->

	<!-- Footer Section Begin -->
	<footer class="footer-section">
		<div class="container">
			<div class="row">
				<div class="col-lg-5">
					<div class="fs-left">
						<div class="logo">
							<a href="./index.html"> <img src="img/footer-logo.png" alt="" />
							</a>
						</div>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
							sed do eiusmod tempor incididunt ut labore et dolore magna
							aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo
							viverra maecenas accumsan lacus vel facilisis.</p>
					</div>
				</div>
				<div class="col-lg-6 offset-lg-1">
					<form action="#" class="subscribe-form">
						<h3>Subscribe to our newsletter</h3>
						<input type="email" placeholder="Your e-mail" />
						<button type="submit">Subscribe</button>
					</form>
					<div class="social-links">
						<a href="#"><i class="fa fa-instagram"></i><span>Instagram</span></a>
						<a href="#"><i class="fa fa-pinterest"></i><span>Pinterest</span></a>
						<a href="#"><i class="fa fa-facebook"></i><span>Facebook</span></a>
						<a href="#"><i class="fa fa-twitter"></i><span>Twitter</span></a>
						<a href="#"><i class="fa fa-youtube"></i><span>Youtube</span></a>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<div class="copyright-text">
						<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
						Copyright &copy;
						<script>
							document.write(new Date().getFullYear());
						</script>
						All rights reserved | This template is made with <i
							class="fa fa-heart-o" aria-hidden="true"></i> by <a
							href="https://colorlib.com" target="_blank">Colorlib</a>
						<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
					</div>
				</div>
			</div>
		</div>
	</footer>
	<!-- Footer Section End -->

	<!-- Search model -->
	<div class="search-model">
		<div class="h-100 d-flex align-items-center justify-content-center">
			<div class="search-close-switch">+</div>
			<form class="search-model-form">
				<input type="text" id="search-input" placeholder="Search here....." />
			</form>
		</div>
	</div>

	<nav class="navbar bg-body-tertiary">
		<div class="container-fluid">
			<form class="d-flex" role="search" style="align-items: center">
				<h2
					style="display: inline-block; width: 1000px; white-space: nowrap">
					박수근님의 레시피</h2>
				<input class="form-control me-2" type="search" placeholder="Search"
					aria-label="Search" />
				<button class="btn btn-outline-success" type="submit">Search</button>
			</form>
		</div>
	</nav>

	
</html>
